* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-image: linear-gradient(to right, rgb(158, 76, 212), rgb(94, 94, 226));
}

footer {
    background-image: linear-gradient(to right, rgb(158, 76, 212), rgb(94, 94, 226));
}

.container-figuras {
    width: 50%;
}

.figura:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
}

.modal-header {
    background-image: linear-gradient(to right, rgb(158, 76, 212), rgb(94, 94, 226));
    color: #f8f9fa;
}

.modal-footer {
    background-color: #dbdbdb;
}

.btn-close {
    background-color: #ffffff;
}

.figura img{
    height: 150px;
}

.figura img, h4 {
    cursor: pointer;
}

@media (max-width: 768px) {
    .container-figuras {
        width: 90%;
    }
}