* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

body {
    min-height: 100vh;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 450;
    font-variation-settings: "wdth" 100;
}

header{
    background-color: #4CAF50;
}

.container-calculo {
    text-align: justify;
}

/* Estilos gerais */
.container-calculo {
    max-width: 600px;
    width: 70%;
}


@media (min-width: 1200px) {
    .container-calculo {
        width: 50%;
    }
}


@media (max-width: 992px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header {
        position: absolute;
        top: 0;
        left: 0;
    }
    .container-calculo {
        width: 75%;
    }
}


@media (max-width: 768px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header {
        position: absolute;
        top: 0;
        left: 0;
    }
    .container-calculo {
        width: 90%;
        padding: 15px;
    }
}

@media (max-width: 576px) {
    .container-calculo {
        width: 100%;
        box-shadow: none;
    }
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    button {
        font-size: 1rem;
        padding: 10px;
    }
}